{% extends 'base.html'%}

{%block content%}
<h1>ARTICLES</h1>

<div class="container">
<div class="row">
    {% for article in art %}
    <div class="col-md-3 col-lg-4 col-xs-4 col-sm-3">
        <img src="{{article.urlToImage}}" alt="news pic" style="height: 250px; width: 350px;">
    </div>

    <div class="col -md-8 col-lg-8 col-xs-8 col-sm-8">
        <h4>{{article.title}}</h4>s
        <p>{{article.description}}</p><br>
        <a href="{{article.url}}"target="_blank">Read More</a>
        <p>Submiited:<i>{{article.time}}</i></p>
    </div>
</div>
{% endfor %}
</div>

{%endblock%}
