<div class="navbar navbar-inverse" style="background-color:#000033;" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="/static/download.png" alt="image" style="width:500px;height:100px;">

                <a class="navbar-brand" href="/"  > NEWS HIGHLIGHTING </a>
                <a href="/articles"> <button class="btn btn-info">ARTICLES</button> </a>

            </div>
            </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <button ><a href="#home">Home</a></button>
                    <button><a href="#general">General</a></button>
                     <button><a href="#sport">Sport</a></button>
                     <button><a href="#bs">Business</a></button>
                     <button><a href="#enta">Entertainments</a></button>
                     <button><a href="#tech">Technology</a></button>

            </div>
